* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 9px;
}

body {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}



.navbar1 {
    position: absolute;
    top: 1rem;
    width: 100px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar1 a {
    margin: 1rem;
    font-size: 12px;
}

nav {
    position: relative;
    width: 100%;
    padding: 0.5rem;
}

.logo img {
    height: 1rem;
    width: 1rem;
}

.logo {
    color: black;
    float: left;
}

.navbar {
    float: right;
}

.navbar button {
    margin: 0 0.3rem;
}

main {
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main header {
    font-size: 2rem;
    margin: 1rem;
}